In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve, auc
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
import matplotlib.lines as mlines
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn import tree
import os
%matplotlib inline

In [17]:
inputPath = "BankNote_Authentication.csv"
dataset = pd.read_csv(inputPath, header=0)

In [18]:
dataset.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [19]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
variance    1372 non-null float64
skewness    1372 non-null float64
curtosis    1372 non-null float64
entropy     1372 non-null float64
class       1372 non-null int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [20]:
dataset.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.491983
std       2.842763     5.869047     4.310030     2.101013     0.500118
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [21]:
test_data_split = 0.2
x_train,x_test , y_train, y_test = train_test_split(dataset.drop(["class"],axis=1),dataset["class"],test_size = test_data_split)

In [22]:
p=x_train
y_train

939     1
39      1
321     0
821     1
442     0
167     1
670     0
1073    1
458     0
1066    1
949     1
1005    1
450     0
469     0
1242    1
1026    1
1335    1
426     0
77      1
1122    1
1054    1
634     0
853     1
646     0
1186    1
1273    1
838     1
313     0
1299    1
1021    1
       ..
276     0
818     1
310     1
124     0
161     0
797     0
1258    1
466     1
1295    1
219     0
840     1
647     0
985     1
851     0
575     0
1145    1
403     0
779     1
922     0
207     1
214     0
574     0
1234    1
244     1
551     0
1053    1
984     1
152     1
573     0
1095    1
Name: class, Length: 1097, dtype: int64

In [23]:
x_train.shape
y_train.shape
x_test.shape

(275, 4)

In [24]:
# K Nearest Neighbours
from sklearn.neighbors import KNeighborsClassifier  
knn_classifier = KNeighborsClassifier(n_neighbors=3)  
model_knn = knn_classifier.fit(x_train, y_train) 
print(model_knn)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [25]:
# Predict test data
y_pred = model_knn.predict(x_test)

In [26]:
# Accuracy metrics
acc_knn = accuracy_score(y_test,y_pred)
print("accuracy from Knn model:", acc_knn)
# Confusion Matrix
confusion_matrix(y_test, y_pred)

accuracy from Knn model: 0.7090909090909091

array([[108,  37],
       [ 43,  87]], dtype=int64)